<div class="flex p-2">
  <a href="https://www.facebook.com/nox.setanta" class="p-3">
    <i class="fa-brands fa-facebook-f fa-xl"></i>
  </a>
  <a href="https://twitter.com/noxsetanta" class="p-3">
    <i class="fa-brands fa-twitter fa-xl"></i>
  </a>
  <a href="https://themindofnox.com" class="p-3">
    <i class="fa-brands fa-wordpress-simple fa-xl"></i>
  </a>
  <a href="https://discord.gg/RbRapfSEcy" class="p-3">
    <i class="fa-brands fa-discord fa-xl"></i>
  </a>
</div>