<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    {% include "head.njk" %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/872835407e.js" crossorigin="anonymous"></script>
    {% if site.env %}
      <!-- Capture the CSS content as a Nunjucks variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/styles.min.css">
    {% endif %}
  </head>
  <body class="flex flex-col justify-between h-full">
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
  <script src="/static/app.min.js" defer></script>
</html>