---
layout: base.njk
title: Home
description: Starter page
eleventyNavigation:
  key: Home
  title: Home
---

<main>
  <section id="hero" class="flex justify-center items-center h-screen bg-cover bg-blend-overlay bg-slate-300" style="background-image: url(./static/index-hero-nyc.jpg)">
    <div class="md:w-1/2 mx-auto text-center">
      <h1 class="font-header text-5xl mb-5">Helping those no one beleives!</h1>
      <button class="border-2 font-header border-slate-700 text-slate-700 px-3 py-2 hover:text-slate-300 hover:bg-slate-700">Learn More</button>
    </div>
  </section>
</main>